/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
/*reseteo general*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/*btn whatsapp*/
.btn-wpp {
  background-color: #18A558;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px 10px 25px;
}
.btn-wpp .a-wpp {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
}
.btn-wpp .a-wpp:hover {
  color: aliceblue;
}
.btn-wpp .a-wpp .img-wpp {
  height: 25px;
  margin-right: 15px;
}
.btn-wpp .a-wpp .p-wpp {
  margin-top: 15px;
}

/*header*/
.background-nav {
  background-color: #05445e;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
}
.background-nav .a-nav {
  color: aliceblue;
}
.background-nav .a-nav:hover {
  color: #75E6DA;
  transform: scale(1.2);
  transition: all 0.3s;
}

/*carrusel*/
.carrusel {
  width: 100%;
  margin-top: 55px;
  overflow: hidden;
  height: 500px;
}
.carrusel ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 10s infinite alternate;
  animation-timing-function: ease-in;
}
.carrusel ul li {
  width: 100%;
  list-style: none;
}
.carrusel ul li img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0%;
  }
  30% {
    margin-left: -150%;
  }
  75% {
    margin-left: -150%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*seccion nosotros*/
.h2-container {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #05445E;
  margin-top: 100px;
}

.div-nosotros {
  font-size: 35px;
  color: #05445E;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-nosotros .img-container {
  align-items: center;
  margin-top: 50px;
}
.div-nosotros .img-container .img-nosotros {
  height: 200px;
  border-radius: 50%;
  align-items: center;
  margin: 50px 0 20px;
}
.div-nosotros .img-container .p-name {
  margin: 10px 0 3px;
  font-size: 25px;
  font-weight: 900;
}
.div-nosotros .img-container .p-lic {
  font-size: 15px;
}
.div-nosotros .img-container .icn-link {
  margin-top: 10px;
  height: 30px;
  background-color: #05445E;
  margin-bottom: 50px;
}
.div-nosotros .img-container .icn-link:hover {
  background-color: #75E6DA;
}
.div-nosotros .img-container2 {
  align-items: center;
  margin-top: 50px;
}
.div-nosotros .img-container2 .img-nosotros {
  height: 200px;
  border-radius: 50%;
  align-items: center;
  margin: 50px 0 20px;
}
.div-nosotros .img-container2 .p-name {
  margin: 10px 0 3px;
  font-size: 25px;
  font-weight: 900;
}
.div-nosotros .img-container2 .p-lic {
  font-size: 15px;
}
.div-nosotros .img-container2 .icn-link {
  margin-top: 10px;
  height: 30px;
  background-color: #05445E;
  margin-bottom: 50px;
}
.div-nosotros .img-container2 .icn-link:hover {
  background-color: #75E6DA;
}
.div-nosotros .img-container3 {
  align-items: center;
  margin-top: 50px;
}
.div-nosotros .img-container3 .img-nosotros {
  height: 200px;
  border-radius: 50%;
  align-items: center;
  margin: 50px 0 20px;
}
.div-nosotros .img-container3 .p-name {
  margin: 10px 0 3px;
  font-size: 25px;
  font-weight: 900;
}
.div-nosotros .img-container3 .p-lic {
  font-size: 15px;
}
.div-nosotros .img-container3 .icn-link {
  margin-top: 10px;
  height: 30px;
  background-color: #05445E;
  margin-bottom: 50px;
}
.div-nosotros .img-container3 .icn-link:hover {
  background-color: #75E6DA;
}

/*Seccion servicios*/
.h2-header--org {
  font-size: 60px;
  text-align: center;
  margin: 50px 200px 0 200px;
  padding-top: 40px;
  font-weight: 900;
  color: #05445E;
  border-top: solid 2px #05445E;
}

/*cambio organizacional*/
.div-org {
  text-align: center;
  margin-top: 50px;
}
.div-org .h2-org {
  font-size: 35px;
  color: #05445E;
  font-weight: bold;
}
.div-org .p-org {
  color: #05445E;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 500px 0;
}
.div-org .serv-container {
  display: flex;
  margin-top: 50px;
}
.div-org .serv-container .div-org1 {
  height: 280px;
  width: 20%;
  background-color: #DF362D;
  color: aliceblue;
  text-align: center;
}
.div-org .serv-container .div-org1 .p-ByS {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.div-org .serv-container .div-org1 .img-org1 {
  margin-top: 25%;
}
.div-org .serv-container .div-org1:hover > .img-org1 {
  margin-top: 5%;
  transition: all 2s;
}
.div-org .serv-container .div-org1:hover > .p-ByS {
  margin-top: 10px;
  transition: all 2s;
  display: initial;
}
.div-org .serv-container .div-org2 {
  height: 280px;
  width: 20%;
  background-color: #FFCD58;
  color: aliceblue;
}
.div-org .serv-container .div-org2 .img-org2 {
  margin-top: 25%;
}
.div-org .serv-container .div-org2 .p-evp {
  display: none;
}
.div-org .serv-container .div-org2:hover > .p-evp {
  display: initial;
  transition: all 2s;
}
.div-org .serv-container .div-org2:hover > .img-org2 {
  margin-top: 3%;
  transition: all 2s;
}
.div-org .serv-container .div-org3 {
  height: 280px;
  width: 20%;
  background-color: #05445E;
  color: aliceblue;
}
.div-org .serv-container .div-org3 .p-psc {
  display: none;
}
.div-org .serv-container .div-org3 .img-org3 {
  margin-top: 25%;
}
.div-org .serv-container .div-org3:hover > .img-org3 {
  margin-top: 3%;
  transition: all 2s;
}
.div-org .serv-container .div-org3:hover > .p-psc {
  display: initial;
  transition: all 2s;
}
.div-org .serv-container .div-org4 {
  height: 280px;
  width: 20%;
  background-color: #1D741B;
  color: aliceblue;
}
.div-org .serv-container .div-org4 .img-org4 {
  margin-top: 25%;
}
.div-org .serv-container .div-org4 .p-tm {
  display: none;
}
.div-org .serv-container .div-org4:hover > .img-org4 {
  margin-top: 0;
  transition: all 2s;
}
.div-org .serv-container .div-org4:hover > .p-tm {
  display: initial;
  transition: all 2s;
}
.div-org .serv-container .div-org5 {
  height: 280px;
  width: 20%;
  background-color: #75E6DA;
  color: aliceblue;
}
.div-org .serv-container .div-org5 .p-cco {
  display: none;
}
.div-org .serv-container .div-org5 .img-org5 {
  margin-top: 25%;
}
.div-org .serv-container .div-org5:hover > .img-org5 {
  margin-top: 5%;
  transition: all 2s;
}
.div-org .serv-container .div-org5:hover > .p-cco {
  display: initial;
  transition: all 2s;
}

/*cambio personal*/
.div-personal {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.div-personal .h2-personal {
  font-size: 40px;
  color: #05445E;
  font-weight: bold;
}
.div-personal .p-personal {
  margin: 20px 500px 0;
  color: #05445E;
  font-weight: bold;
  font-size: 20px;
}

/*seccion clientes*/
hr {
  color: #05445E;
  margin: 50px 200px;
}

.h2-cl {
  font-size: 60px;
  font-weight: bold;
  color: #05445E;
  text-align: center;
}

.progress {
  margin-top: 60px;
}
.progress .bg-progress1 {
  background-color: green;
}
.progress .bg-progress2 {
  background-color: red;
}
.progress .bg-progress3 {
  background-color: aqua;
}
.progress .bg-progress4 {
  background-color: yellow;
}
.progress .bg-progess5 {
  background-color: purple;
}
.progress .bg-progress6 {
  background-color: #05445E;
}

/*seccion contacto*/
.contacto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../imagenes/Contacto2.png);
  background-size: cover;
  width: 100%;
  height: 600px;
  object-fit: cover;
  padding-bottom: 50px;
  margin-top: 100px;
  color: aliceblue;
}
.contacto-container .div-contacto {
  margin: auto;
  border-right: orange solid 1px;
  padding-right: 300px;
}
.contacto-container .div-contacto .h2-contacto {
  font-size: 60px;
  font-weight: 900;
}
.contacto-container .div-contacto .h3-contacto {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 900;
}
.contacto-container .div-contacto .h4-contacto {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 900;
}
.contacto-container .redes-container {
  display: flex;
  margin-top: 140px;
  flex-direction: column;
  align-items: center;
}
.contacto-container .redes-container .h2-redes {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.contacto-container .redes-container .div-redes {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 60px;
}

/*footer*/
.footer {
  background: #05445E;
  border-top: solid #05445E;
  color: aliceblue;
  width: 100%;
}
.footer .div-secciones {
  display: flex;
  flex-direction: column;
}
.footer .div-secciones .a-footer {
  color: aliceblue;
  text-decoration: none;
}
.footer .div-secciones .a-footer:hover {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
