/*seccion clientes*/
.h2-cl{
    font-size: 60px;
    font-weight: bold;
    color: #05445E;
    text-align: center;
    margin: 50px 200px 0 200px;
    padding-top: 40px;
    border-top: solid 2px #05445E;
    @media screen and (max-width:450px){
        font-size: 25px;
        margin: 50px  75px ;
    }
}
.progress{
    margin-top: 60px;
    .bg-progress1{
        background-color: green;
    }
    .bg-progress2{
        background-color: red;
    }
    .bg-progress3{
        background-color: aqua;
    }
    .bg-progress4{
        background-color: yellow;
    }
    .bg-progess5{
        background-color: purple;
    }
    .bg-progress6{
        background-color: #05445E;
    }
}