/*footer*/
.footer{
    background: #05445E;
    border-top: solid #05445E;
    color: aliceblue;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .div-secciones{
        display: flex;
        flex-direction: column;
        .a-footer{
            color: aliceblue;
            text-decoration: none;
            &:hover{
                color: blue;
            }
        }
    }
    .f-dym{
        margin: 0 auto;
        h5{
            margin-top: 20px;
        }
        h6{
            margin-top: 20px;
        }

    }
}