/*seccion nosotros*/
.h2-container{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #05445E;
    margin-top: 100px;
}
.div-nosotros{
    font-size: 35px;
    color: #05445E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .img-container{
        align-items: center;
        margin-top: 50px;
       
        .img-nosotros{
            height: 200px;
            border-radius: 50%;
            align-items: center;
            margin: 50px 0 20px;
        }
        .p-name{
            margin: 10px 0 3px;
            font-size: 25px;
            font-weight: 900;
        }
        .p-lic{
            font-size: 15px;
        }
        .icn-link{
            margin-top: 10px;
            height: 30px;
            background-color: #05445E;
            margin-bottom: 50px;
            &:hover{
                background-color: #75E6DA;
            }
        }
            
    }
    .img-container2{
        align-items: center;
        margin-top: 50px;
        .img-nosotros{
            height: 200px;
            border-radius: 50%;
            align-items: center;
            margin: 50px 0 20px;
        }
        .p-name{
            margin: 10px 0 3px;
            font-size: 25px;
            font-weight: 900;
        }
        .p-lic{
            font-size: 15px;
        }
        .icn-link{
            margin-top: 10px;
            height: 30px;
            background-color: #05445E;
            margin-bottom: 50px;
            &:hover{
                background-color: #75E6DA;
            }
        } 
    }
    .img-container3{
        align-items: center;
        margin-top: 50px;
        .img-nosotros{
            height: 200px;
            border-radius: 50%;
            align-items: center;
            margin: 50px 0 20px;
        }
        .p-name{
            margin: 10px 0 3px;
            font-size: 25px;
            font-weight: 900;
        }
        .p-lic{
            font-size: 15px;
        }
        .icn-link{
            margin-top: 10px;
            height: 30px;
            background-color: #05445E;
            margin-bottom: 50px;
            &:hover{
                background-color: #75E6DA;
            }
        }
    }
}
