/*Seccion servicios*/
.h2-header--org{
    font-size: 60px;
    text-align: center;
    margin: 50px 200px 0 200px;
    padding-top: 40px;
    font-weight: 900;
    color: #05445E;
    border-top: solid 2px #05445E;
}
.img-servicios {
    height: 284px;
    width: 100%;
}
.div-personal{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    
    .h2-personal{
        font-size: 40px;
        color: #1D741B;
        font-weight: bold;
        margin-top: 100px;
    }
    .p-personal{
        margin: 20px 100px 0;
        color: #1D741B;
        font-weight: bold;
        font-size: 20px;
    }
    .div-img--bienestar{
        .img-bienestar{
            margin-top: 50px;
            width: 100%;
            height: 400px;
        }
    }
    .div-b{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 20px;
        margin: 50px 50px;
        background-color: #94C973;
        gap: 30px;
        padding: 30px;
        border:solid 1px  #1D741B;
        .p-b{
            font-size: 18px;
            text-align: center;
            margin-top: 15px;
            color: #1D741B;
            font-weight: 900;
        }
        .p-b1{
            font-size: 16px;
            margin-top: 40px;
            color: #1D741B;
            font-weight: bold; 
        }
        .img-byg{
            height: 25px;
        }      
    }
}
/*cambio organizacional*/
.div-org{
    text-align: center;
    margin-top: 50px;
    .h2-org{
        font-size: 35px;
        color: #05445E;
        font-weight: bold;
    }
    .p-org{
        color: #05445E;
        font-size: 20px;
        font-weight: bold;
        margin: 20px 500px 0;
    }
    .serv-container{
        display: flex;
        margin-top: 50px;
        .div-org1{
            height: 280px;
            width: 20%;
            background-color: #DF362D;
            color: aliceblue;
            text-align: center;
         
            .p-ByS{
                display: none;
                text-align: center;
                margin-top: 20px;
            }
            .img-org1{
                margin-top: 25%;             
            }
            &:hover>.img-org1{
                margin-top: 5%;
                transition: all 2s;      
            }
            &:hover>.p-ByS{
                margin-top: 10px;
                transition: all 2s;
                display: initial;
            }
        }
        .div-org2{
            height: 280px;
            width: 20%;
            background-color: #FFCD58;
            color: aliceblue;     
            .img-org2{
                margin-top: 25%; 
            }
            .p-evp{
                display: none;
            }
            &:hover>.p-evp{
                display: initial;
                transition: all 2s;
            }
            &:hover>.img-org2{
                margin-top: 3%;
                transition: all 2s;
            }
        }
        .div-org3{
            height: 280px;
            width: 20%;
            background-color: #05445E;
            color: aliceblue;
            .p-psc{
                display: none;
            }
            .img-org3{
                margin-top: 25%;
            }
            &:hover>.img-org3{
                margin-top: 3%;
                transition: all 2s;  
            }
            &:hover>.p-psc{
                display: initial;
                transition: all 2s;
            }
        }
        .div-org4{
            height: 280px;
            width: 20%;
            background-color: #1D741B;
            color: aliceblue;
            .p-tm{
                display: none;
            }
            .img-org4{
                margin-top: 25%;  
            }
            &:hover>.img-org4{
                margin-top: 3%;
                transition: all 2s;  
            }
            &:hover>.p-tm{
                display: initial;
                transition: all 2s;
            }
        }
        .div-org5{
            height: 280px;
            width: 20%;
            background-color: #75E6DA;
            color: aliceblue;
            .p-cco{
                display: none;
            }
            .img-org5{
                margin-top: 25%;  
            }
            &:hover>.img-org5{
                margin-top: 5%;
                transition: all 2s;
            }
            &:hover>.p-cco{
                display: initial;
                transition: all 2s;
            }
        }
    }
}
/*desarrolo web y marketing*/
.dym{
    background-image:url(../imagenes/programacion.jpg);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    .div-m{
        height: 300px;
        width: 300px;
        background-color: violet;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;    
        h4{
            color: aliceblue;
            margin-top: 10px;
           
        }
        .img-m{
            margin-top: 25%;
        }
        .p-m{
            display: none;
            font-size: 12px;
            color: aliceblue;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }
        &:hover>.img-m{
            margin-top: 15%;
            transition: all 2s;
        }
        &:hover>h4{
            display: none;
        }
        &:hover>.p-m{
            display: initial;
            transition: all 2s;
        }
    }
    .div-d{
        height: 300px;
        width: 300px;
        background-color: aqua;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        h4{
            color: aliceblue;
            margin-top: 10px;
        }
        .img-d{
            margin-top: 25%;
        }
        .p-d{
            display: none;
            font-size: 12px;
            margin: 20px 20px 0 20px;
            color: aliceblue;
            font-weight: 700;
        }
        &:hover>h4{
            display: none;
        }
        &:hover>.img-d{
            margin-top: 15%;
            transition: all 2s;
        }
        &:hover>.p-d{
            display: initial;
            transition: all 2s;
        }
    }
}